.hero-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-text-headline {
  font-family: var(--serif);
  color: var(--stone);
}
