.nav-container {
  height: 100px;
  width: 100%;
  // background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;

  .logo-container {
    height: 50px;
    width: 50px;
  }

  .page-links,
  .user-links {
    display: flex;
    align-items: center;

    li {
      padding: 0 24px;

      &:last-child {
        padding: 0 24px 0 0;
      }
    }
    .nav-link {
      color: var(--stone);
    }
  }
}
